@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

.twitter_icon {
    box-sizing: content-box;
    width: 2.5rem;
    height: 2.5rem;
    /* padding: 1rem; */
    margin-left: 1rem;

}

.twitter_icon:hover {
    background-color: rgb(229, 237, 248);
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 24px;
}

body {
    display: flex;
    justify-content: space-between;

}

.left_side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 0 0 20%;
    height: 100%;
    padding: 15px 8% 0 2%;
    position: fixed;


}

.top_left_side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;

}

.icon_container {
    display: flex;
    align-items: center;
    font-size: 2rem;
    gap: 15px;
    padding: 8px 25px 8px 8px;
    width: fit-content;
    margin-top: 3px;
    font-weight: 300;
}

.icon_container:hover {
    background-color: rgb(231, 234, 240);
    border-radius: 9999px;
    /* font-weight: 700; */
}

.icon_container [class*='icons'] {
    font-size: 3rem;

}

.top_nav {
    margin-top: 10px;
}

.tweet_button {
    background-color: rgb(29, 155, 240);
    color: white;
    width: 110%;
    height: 53px;
    border-radius: 9999px;
    margin-top: 15px;
    font-size: 1.7rem;
    font-weight: 700px;
    border: none;
    transition-duration: .2s;
}

.tweet_button:hover {
    background-color: rgb(25, 136, 209);
    cursor: pointer;


}

.bottom_left_side {

    width: 100%;
    height: 20%;
    padding-top: 55px;
}

.bottom_left_side_box {
    display: flex;
    align-items: center;
    padding: 8px 10px 5px 15px;
    margin-left: 25px;
    gap: 10px;

}

.bottom_left_side_box:hover {
    background-color: rgb(231, 234, 240);
    border-radius: 9999px;
    cursor: pointer;
}

.account_name {
    margin-right: 15px;
    font-size: 1.5rem;
    line-height: 20px;
}

.main_section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 45%;
    height: 100%;
    margin-left: 23%;
    border-right: 1px solid rgb(201 216 227);
    border-left: 1px solid rgb(201 216 227);
    padding: 10px 15px 0 15px;

}

.home_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    gap: 20px;
    border-bottom: 1px solid rgb(201 216 227);
    cursor: pointer;
    position: sticky;
    top: 0;

}

.inner_home_box {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 20px;
    color: grey;
    height: 50%;

}

.for_you:hover {
    background-color: rgb(231, 234, 240);
    font-weight: 700;
    color: black;
    text-decoration: underline;
    text-decoration-color: rgb(29, 155, 240);
    text-decoration-thickness: 5px;
    text-underline-offset: 15px;

}

.following:hover {
    background-color: rgb(231, 234, 240);
    font-weight: 700;
    color: black;
    text-decoration: underline;
    text-decoration-color: rgb(29, 155, 240);
    text-decoration-thickness: 5px;
    text-underline-offset: 15px;
}

.Tweet_box {
    display: flex;
    width: 100%;
    height: 120px;
    padding: 6px;
    border-bottom: 1px solid rgb(201 216 227);

}

.tweet_box_content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tweet_box_icons_button {
    display: flex;
    align-content: center;
    justify-content: space-between;

}

.Tweet_box input {
    height: 70px;
    border: none;
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 10px;
    padding-left: 15px;
    outline: none;

}

::placeholder {
    font-size: 20px;
    font-weight: 300;
    color: rgb(107, 104, 104);

}

.tweet_box_icons {
    display: flex;
    width: 45%;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 5;


}

.tweet_box_icons .material-icons-outlined {
    font-size: 2.1rem;
    color: rgb(29, 155, 240);

}

i {
    width: fit-content;
    padding: 8px 8px 8px 8px;
}

i:hover {
    background-color: rgb(240, 246, 253);
    border-radius: 50%;
}

.tweet_box_icons_button button {
    background-color: rgb(145, 203, 241);
    color: white;
    width: 15%;
    height: 35px;
    border-radius: 9999px;
    font-size: 1.5rem;
    font-weight: 800px;
    border: none;
    transition-duration: .2s;
}

.tweet_box_icons_button button:hover {
    background-color: rgb(29, 155, 240);
    cursor: pointer;

}

.pos_flex_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid rgb(201 216 227);
    transition-duration: .2s;
    margin: 0 -15px 0 -15px;

}
.pos_flex_box:hover{
    background-color:  rgb(250, 250, 250);
}

/* .img_account_box {
    margin-left: 15px;
    display: flex;
} */
.poster_account_detail a:hover{
    text-decoration: underline;
}

.poster_account_detail {
    display: flex;
    align-content: center;
    width: 90%;
    margin: -55px 0 5px 80px;
    padding-top: 5px;
}
.post_content{

    height: fit-content;
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 15px;
    padding-left: 60px;
    margin-left: 20px;
    margin-top: -10px;
}

.post_reaction {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-left: 30px;
    padding-top: 5;

}

.post_reaction .material-icons-outlined {
    font-size: 2.1rem;
    color: rgb(110, 118, 125);
    padding: 4px 0 0 4px;

    
}
.action_box .icon_box{
    width: 30px;
    height: 30px;
}
.action_box .icon_box:hover{
    cursor: pointer;
    background-color:rgb(253, 231, 244) ;
    border-radius: 50%;
}
.icon_box .material-icons-outlined:hover{
    color: red;

}
.action_box .action_count:hover{
    display: block;
    cursor: pointer;
    color: red;
}
.post_reaction .action_count {
    font-size: 1.3rem;
    font-weight: 300;
    color: rgb(110, 118, 125);
    padding-top: 4px;
    padding-left: 10px;


}

.action_box {
    display: flex;

    ;
}

.right_side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;


}